.terminal-layout {
  display: grid;
  grid-template-columns: 8fr 4fr;
  height: 100%;
}

.catalog-panel {
  display: flex;
  flex-direction: column;
}
.cart-panel {
  height: 100%;
}

@media (max-width: 820px) {
  .terminal-layout {
    grid-template-columns: 1fr;
  }

  .catalog-panel {
    order: 1;
  }

  .cart-panel {
    order: 2;
  }
}
