<mat-drawer-container class="layout" autosize>
  <!-- ✅ DESKTOP SIDENAV -->
  @if (!sideNavService.isMobile()) {
    <mat-drawer
      mode="side"
      [opened]="true"
      [class.minimized]="sideNavService.isMinimized() && !sideNavService.isMobile()"
    >
      <div class="drawer-container">
        <div class="drawer-header">
          @if (!sideNavService.isMinimized()) {
            <div class="title-large shadow">POS System</div>
          }

          <button matIconButton (click)="sideNavService.toggleDesktopMinimize()">
            <span class="material-symbols-outlined text-on-surface">
              {{ sideNavService.isMinimized() ? 'chevron_right' : 'chevron_left' }}
            </span>
          </button>
        </div>

        @if (!sideNavService.isMinimized()) {
          <mat-divider />
        }

        <app-side-nav-menu-items />

        <!-- Logout -->
        <div
          class="menu-item"
          [class.minimized]="sideNavService.isMinimized()"
          [class.maximized]="!sideNavService.isMinimized()"
        >
          <button matButton (click)="logout()">
            <div>
              <span class="material-symbols-outlined text-on-surface">logout</span>
              @if (!sideNavService.isMinimized()) {
                <label class="label-large text-on-surface">Logout</label>
              }
            </div>
          </button>
        </div>
      </div>
    </mat-drawer>
  }

  <!-- ✅ MOBILE sideNavService -->
  @if (sideNavService.isMobile()) {
    <mat-drawer
      mode="over"
      [opened]="sideNavService.mobileOpen()"
      (closed)="sideNavService.closeMobile()"
    >
      <div class="drawer-container">
        <div style="margin-top: 1rem">
          <app-side-nav-menu-items (itemSelected)="sideNavService.closeMobile()" />
        </div>

        <div
          class="menu-item"
          [class.minimized]="sideNavService.isMinimized()"
          [class.maximized]="!sideNavService.isMinimized()"
        >
          <button matButton (click)="logout()">
            <div>
              <span class="material-symbols-outlined text-on-surface">logout</span>
              @if (!sideNavService.isMinimized()) {
                <label class="label-large text-on-surface">Logout</label>
              }
            </div>
          </button>
        </div>
      </div>
    </mat-drawer>
  }

  <!-- ✅ CONTENT -->
  <mat-drawer-content>
    <!-- MOBILE BUTTON -->
    @if (sideNavService.isMobile()) {
      <button matIconButton (click)="sideNavService.toggleMobileDrawer()">
        <mat-icon>menu</mat-icon>
      </button>
    }

    <!-- <app-header /> -->
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
