<div
  class="menu-item"
  [class.minimized]="sideNavService.isMinimized()"
  [class.maximized]="!sideNavService.isMinimized()"
  [class.mouse-pointer]="!active() || sideNavService.isMinimized()"
  (mouseenter)="openMenu()"
  (mouseleave)="closeMenu()"
>
  <button
    [class.active]="active() && sideNavService.isMinimized()"
    id="study-explorer"
    type="button"
    mat-button
  >
    <div>
      <span class="material-symbols-outlined">view_list</span>
      @if (!sideNavService.isMinimized()) {
        <h4 class="title-medium on-surface-color">Example</h4>
      }
    </div>
  </button>
</div>

<div
  class="menu-item"
  [class.minimized]="sideNavService.isMinimized()"
  [class.maximized]="!sideNavService.isMinimized()"
  [class.mouse-pointer]="!active() || sideNavService.isMinimized()"
  (mouseenter)="openMenu()"
  (mouseleave)="closeMenu()"
>
  <button
    (click)="navigateColorPalette()"
    [class.active]="active() && sideNavService.isMinimized()"
    id="study-explorer"
    type="button"
    mat-button
  >
    <div>
      <span class="material-symbols-outlined">palette</span>
      @if (!sideNavService.isMinimized()) {
        <h4 class="title-medium on-surface-color">Color Palletes</h4>
      }
    </div>
  </button>
</div>
