@for (item of menuItems; track item.id) {
  <div
    class="menu-item"
    [class.minimized]="sideNavService.isMinimized()"
    [class.maximized]="!sideNavService.isMinimized()"
    [class.mouse-pointer]="!active() || sideNavService.isMinimized()"
    (mouseenter)="openMenu()"
    (mouseleave)="closeMenu()"
  >
    <button
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      id="{{ item.id }}"
      matButton
    >
      <div>
        <span class="material-symbols-outlined">{{ item.icon }}</span>
        @if (sideNavService.showLabels()) {
          <h4 class="title-medium on-surface-color">{{ item.label }}</h4>
        }
      </div>
    </button>
  </div>
}
