.minimized {
  margin-bottom: 0.5rem;
  flex-direction: column;
}

.material-symbols-outlined {
  font-size: 1.25rem;
}

div {
  display: flex;
  align-items: center;
}

.menu-item.maximized {
  justify-content: space-between;
  padding: 0rem 0.8rem 0rem 0.5rem;
}

.menu-item.minimized button {
  width: 70%;
}

.maximized button {
  height: 2.7rem;
  flex-grow: 1;
  justify-content: flex-start;
}

button.active {
  background-color: var(--sys-inverse-primary);
}

.maximized .material-symbols-outlined {
  padding-right: 0.5rem;
}

label > span {
  display: block;
  margin-left: 1rem;
}

.management {
  margin-top: 0.6rem;
}

.register,
.management {
  margin-bottom: 0.2rem;
}

mat-divider {
  margin: 1rem 1rem 1rem 1rem;
  border-top-color: var(--sys-outline-variant);
}
