<div class="container">
    <div class="color-palette-container primary">
        <p>Primary</p>
    </div>
    <div class="color-palette-container primary-container">
        <p>Primary Container</p>
    </div>
    <div class="color-palette-container primary-fixed">
        <p>Primary Fixed</p>
    </div>
    <div class="color-palette-container primary-fixed-dim">
        <p>Primary Fixed Dim</p>
    </div>
    <div class="color-palette-container on-primary">
        <p>On Primary</p>
    </div>
    <div class="color-palette-container on-primary-container">
        <p>On Primary Container</p>
    </div>
    <div class="color-palette-container on-primary-fixed">
        <p>On Primary Fixed</p>
    </div>
    <div class="color-palette-container on-primary-fixed-variant">
        <p>On Primary Fixed Variant</p>
    </div>
    <div class="color-palette-container inverse-primary">
        <p>Inverse Primary</p>
    </div>
</div>

<div class="container">
    <div class="color-palette-container secondary">
        <p>Secondary</p>
    </div>
    <div class="color-palette-container secondary-container">
        <p>Secondary Container</p>
    </div>
    <div class="color-palette-container secondary-fixed">
        <p>Secondary Fixed</p>
    </div>
    <div class="color-palette-container secondary-fixed-dim">
        <p>Secondary Fixed Dim</p>
    </div>
    <div class="color-palette-container on-secondary">
        <p>On Secondary</p>
    </div>
    <div class="color-palette-container on-secondary-container">
        <p>On Secondary Container</p>
    </div>
    <div class="color-palette-container on-secondary-fixed">
        <p>On Secondary Fixed</p>
    </div>
    <div class="color-palette-container on-secondary-fixed-variant">
        <p>On Secondary Fixed Variant</p>
    </div>
</div>

<div class="container">
    <div class="color-palette-container tertiary">
        <p>Tertiary</p>
    </div>
    <div class="color-palette-container tertiary-container">
        <p>Tertiary Container</p>
    </div>
    <div class="color-palette-container tertiary-fixed">
        <p>Tertiary Fixed</p>
    </div>
    <div class="color-palette-container tertiary-fixed-dim">
        <p>Tertiary Fixed Dim</p>
    </div>
    <div class="color-palette-container on-tertiary">
        <p>On Tertiary</p>
    </div>
    <div class="color-palette-container on-tertiary-container">
        <p>On Tertiary Container</p>
    </div>
    <div class="color-palette-container on-tertiary-fixed">
        <p>On Tertiary Fixed</p>
    </div>
    <div class="color-palette-container on-tertiary-fixed-variant">
        <p>On Tertiary Fixed Variant</p>
    </div>
</div>

<div class="container">
    <div class="color-palette-container surface">
        <p>Surface</p>
    </div>
    <div class="color-palette-container surface-bright">
        <p>Surface Bright</p>
    </div>
    <div class="color-palette-container surface-container">
        <p>Surface Container</p>
    </div>
    <div class="color-palette-container surface-container-high">
        <p>Surface Container High</p>
    </div>
    <div class="color-palette-container surface-container-highest">
        <p>Surface Container Highest</p>
    </div>
    <div class="color-palette-container surface-container-low">
        <p>Surface Container Low</p>
    </div>
    <div class="color-palette-container surface-container-lowest">
        <p>Surface Container Lowest</p>
    </div>
    <div class="color-palette-container surface-dim">
        <p>Surface Dim</p>
    </div>
    <div class="color-palette-container surface-tint">
        <p>Surface Tint</p>
    </div>
</div>
<div class="container">
    <div class="color-palette-container surface-variant">
        <p>Surface Variant</p>
    </div>
    <div class="color-palette-container on-surface">
        <p>On Surface</p>
    </div>
    <div class="color-palette-container on-surface-variant">
        <p>On Surface Variant</p>
    </div>
    <div class="color-palette-container inverse-surface">
        <p>Inverse Surface</p>
    </div>
    <div class="color-palette-container inverse-on-surface">
        <p>Inverse On Surface</p>
    </div>
</div>


<div class="container">
    <div class="color-palette-container error">
        <p>Error</p>
    </div>
    <div class="color-palette-container error-container">
        <p>Error Container</p>
    </div>
    <div class="color-palette-container on-error">
        <p>On Error</p>
    </div>
    <div class="color-palette-container on-error-container">
        <p>On Error Container</p>
    </div>
</div>

<div class="container">
    <div class="color-palette-container background">
        <p>Background</p>
    </div>
    <div class="color-palette-container on-background">
        <p>On Background</p>
    </div>
</div>

<div class="container">
    <div class="color-palette-container outline">
        <p>Outline</p>
    </div>
    <div class="color-palette-container outline-variant">
        <p>Outline Variant</p>
    </div>
    <div class="color-palette-container scrim">
        <p>Scrim</p>
    </div>
    <div class="color-palette-container shadow">
        <p>Shadow</p>
    </div>
</div>