mat-drawer-container {
  height: 100vh;
  padding-bottom: 2.5rem;
  background-color: white;
}

// mat-drawer-content {
//   padding-top: 1.5rem;
// }

mat-drawer {
  padding: 0.5rem 0rem;
  width: 17rem;
  background-color: var(--sys-surface-container-high);
  border-radius: 0;
  transition: all 0.3s ease;
  overflow: visible;
}

.drawer-container {
  overflow: hidden;
}

.sidenav-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0 0.25rem;
}

h4,
p,
.middle-label {
  margin: 0;
  color: var(--sys-on-surface);
  flex-grow: 1;
  white-space: nowrap;
  overflow-x: hidden;
}

.sidenav-menu-half .menu-item {
  margin-bottom: 1rem;
  flex-direction: column;
  display: flex;
  align-items: center;
}

label {
  color: var(--sys-on-surface);
  cursor: pointer;
}

.sidenav-menu-half label {
  white-space: nowrap;
  max-width: 4rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.material-symbols-outlined {
  color: var(--sys-on-surface);
}

.sidenav-menu-half {
  width: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

mat-divider {
  margin: 3rem 1rem 2rem 1rem;
}

.version-number {
  position: absolute;
  bottom: 2rem;
  padding-left: 2rem;
}

img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}
