<mat-drawer-container class="layout" autosize>
  <!-- ✅ DESKTOP SIDENAV -->
  @if (!sideNav.isMobile()) {
    <mat-drawer
      mode="side"
      [opened]="true"
      [class.minimized]="sideNav.isMinimized() && !sideNav.isMobile()"
    >
      <div class="drawer-header">
        @if (!sideNav.isMinimized()) {
          <h3>POS System</h3>
        }

        <button mat-icon-button (click)="sideNav.toggleDesktopMinimize()">
          <mat-icon>
            {{ sideNav.isMinimized() ? 'chevron_right' : 'chevron_left' }}
          </mat-icon>
        </button>
      </div>

      <mat-divider />

      <app-side-nav-menu-items />
    </mat-drawer>
  }

  <!-- ✅ MOBILE SIDENAV -->
  @if (sideNav.isMobile()) {
    <mat-drawer mode="over" [opened]="sideNav.mobileOpen()" (closed)="sideNav.closeMobile()">
      <app-side-nav-menu-items (itemSelected)="sideNav.closeMobile()" />
    </mat-drawer>
  }

  <!-- ✅ CONTENT -->
  <mat-drawer-content>
    <!-- MOBILE BUTTON -->
    @if (sideNav.isMobile()) {
      <button mat-icon-button (click)="sideNav.toggleMobileDrawer()">
        <mat-icon>menu</mat-icon>
      </button>
    }

    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
